#app {
  height: 100vh;
  width: 99vw;
  text-align: center;
  margin: auto;
}

.icon {
  width: 1em;
  height: 1em;
  margin-right: .3em;
}

.icon :hover {
  transform: translate(-1px, -1px);
}

.spin {
  animation: spin linear 1s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
