.settings {
  width: 100%;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.settings .header {
  text-align: center;
  width: 100%;
}

.settings .header .collapsed {
  display: flex;
  justify-content: space-between;
}

.settings .card {
  background-color: white;
  margin: 0;
}
