.svnlogs {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: white;
}

.svnlogs .svnlogscard {
  margin: 6px;
  width: 100%;
}

.svnlogs .svnlogscard .title {
  width: 100%;
}
