.svnlogs {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 10vh;
  background-color: white;
}

.svnlogscard {
  margin: 6px;
  width: 100%;
}

.logs {
  width: 100%;
}

.line {
  width: 100%;

  .ant-checkbox-label {
    width: 100%;
  }
}

.comparer {
  width: 100%;
  text-align: center;

  button {
    margin-bottom: 16px;
  }
}
