.title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  span {
    margin-left: 6px;
  }
}

.revision {
  /* flex: 5%; */
  text-align: left;
  font-weight: bold;
}

.revision::before {
  content: "r";
  display: inline-block;
  margin-right: 2px;
  font-weight: normal;
  color: black;
}

.message {
  text-align: left;
  font-weight: bold;
  color: cornflowerblue;
}

.timestamp {
  font-weight: bold;
  color: burlywood;
  align-self: flex-end;
}

.author {
  width: 8em;
  font-weight: bold;
  color: rgb(54, 94, 14);
  align-self: flex-end;
}

.author::before {
  content: "by";
  display: inline-block;
  margin-right: 6px;
  font-weight: normal;
  color: black;
}
