.statuscard {
  background-color: white;
  margin: 10px;
}

.statuscard .diffcard {
  margin: 6px;
}

.statuscard .diffcard .changes {
  display: flex;
  flex-direction: row;
}

.statuscard .diffcard .changes .state {
  display: inline;
  font-size: 1.2em;
  margin-bottom: -0.8em;
}

.statuscard .diffcard .changes .state .tooltip {
  visibility: hidden;
  position: absolute;
  margin-top: -2em;
  margin-left: -1em;
  padding: 0.2em 0.8em;
  background-color: dimgray;
  color: whitesmoke;
  border-radius: 1.5em;
  z-index: 1;
}

.statuscard .diffcard .changes .state:hover .tooltip {
  visibility: visible;
}

.statuscard .diffcard .changes .source {
  flex: 90%;
  align-content: flex-end;
}

.statuscard .diffcard .diff_panel {
  --diff-addition-background: #f0fff4;
  --diff-deletion-background: #ffeef0;
  --line-number-width: 30px;

  border: solid lightgray 1px;
}

.statuscard .diffcard .diff_panel .diff_row {
  display: grid;
  grid-template-columns: var(--line-number-width) var(--line-number-width) auto;
}

.statuscard .diffcard .diff_panel .diff_row .number {
  font-weight: bold;
  user-select: none;
  color: gray;
  padding-right: 8px;
}

.statuscard .diffcard .diff_panel .diff_row .hunk {
  color: gray;
  font-style: italic;
}

.statuscard .diffcard .diff_panel .diff_row .addition {
  background-color: var(--diff-addition-background);
}

.statuscard .diffcard .diff_panel .diff_row .deletion {
  background-color: var(--diff-deletion-background);
}
