.statuscard {
  background-color: white;
  margin: 10px;
}

.statuscard .diffcard {
  margin: 6px;
}

.statuscard .diffcard .changes {
  display: flex;
  flex-direction: row;
}

.statuscard .diffcard .changes .state {
  background: #ececec;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #03355e;
  display: inline-block;
  font-weight: bold;
  margin-right: 10px;
  padding-bottom: 0.2em;
  text-align: center;
  width: 1.6em;
}

.statuscard .diffcard .changes .source {
  flex: 90%;
  align-content: flex-end;
}
