.venv/
__pycache__/
instance/uploads/
*.pyc

# Backend
remote-cp-backend/__pycache__/
remote-cp-backend/*.pyc
remote-cp-backend/instance/

# Web
remote-cp-web/node_modules/
remote-cp-web/dist/
remote-cp-web/.env

# Android
remote-cp-android/.gradle/
remote-cp-android/build/
remote-cp-android/app/build/
remote-cp-android/local.properties
remote-cp-android/*.iml
remote-cp-android/.idea/
